.container.game-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.big {
    font-size: 1.7em;
}

.container.game-container .game-stats {
    padding: 20px;
}

.container.game-container.img-horizontal {
    flex-direction: column;
    width: fit-content;
    gap: 0;
}

.container.game-container.img-horizontal img {
    width: 100%;
}

.price-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.game-Select:hover {
    transform: scale(1.1);
    opacity: 0.6;
    transition: all .3s;
}